body {
    background-color: #f0f0f0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    margin-top: 5rem;
}


#notes_container {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.single_note {
    flex: 1 0 30%;
    max-width: 346px;
    min-width: 346px;
    min-height: 250px;
    max-height: 250px;
    margin: 1rem;
}

#welcome {
    text-align: center;
    color: #333333;
    font-size: 1.8rem;
}

#instructions {
    text-align: center;
    color: #999999;
    font-size: 1rem;
}

#create_note_start {
    display: block;
    margin: 1rem auto 0 auto; 
}

.newNoteStyle {
    border: none;
    outline: none;
}

#newNoteText, #editNoteText {
    width: 29rem;
    height: 22rem;
    resize: none;
}

.card_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

